.revenue-container {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: $b-shadow;
  .revenue-title {
    width: 100%;
    text-align: left;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 20px 0;
  }
  h2 {
    font-size: 2.25rem;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .revenue-description {
    font-size: 1rem;
  }
  .revenue-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;
    .revenue-item {
      display: flex;
      justify-content: center;
      align-items: space-between;
      flex-direction: column;
      text-align: center;
      p {
        font-size: 0.85rem;
      }
      .revenue-item-value {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 300;
        padding-top: 10px;
      }
    }
    .negative {
      color: #ff7f7f;
      svg {
        fill: #ff7f7f;
      }
    }
    .positive {
      color: #23843d;
      svg {
        fill: #23843d;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .revenue-container {
    .revenue-bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .revenue-item {
        margin-bottom: 10px;
      }
    }
  }
}
