.topbar-container {
  width: calc(100% - 65px);
  height: 65px;
  background-color: #2c50ef;
  margin-left: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;

  .topbar-left {
    .topbar-search {
      width: 200px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
      input {
        color: white;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 0.8rem;
      }
      input::placeholder {
        color: white;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
  .topbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    .topbar-item {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.5rem;
      background-color: #2544d7;
      border-radius: 10px;
      box-shadow: $b-shadow;
      cursor: pointer;
    }
    .topbar-profile-image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 1.5rem;
      img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
      }
    }
  }
}
