.latest-orders-container {
  width: 100%;
  box-shadow: $b-shadow;
  .latest-orders-grid {
    height: 375px;
    box-shadow: $b-shadow;
    .viewButton {
      color: #5d5db3;
      border: 1px solid #5d5db3;
      padding: 5px 10px;
      transition: $transition;
      margin-right: 0.5rem;
    }
    .viewButton:hover {
      color: #fff;
      background-color: #5d5db3;
    }
    .green,
    .yellow,
    .red {
      padding: 5px;
      border-radius: 5px;
    }
    .green {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    .yellow {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
    .red {
      color: red;
      background-color: rgba(189, 3, 3, 0.103);
    }
  }
}
